<div class="row page-title-container">
  <div class="span6">
    <h2>Device List</h2>
  </div>
  <div class="span6">
    <%= link_to raw('<i class="icon-plus icon-white"></i> New Device'), new_device_path, :class => 'btn btn-success pull-right' %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Key</th>
  </tr>
<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.name, device %></td>
    <td><%= device.key %></td>
  </tr>
<% end %>
</table>
