<ul class="breadcrumb step-nav">
  <li><%= link_to 'Application List', apps_path %> <span class="divider">/</span>
  <li>New
</ul>
<div class="row page-title-container">
  <div class="span6">
    <h2>New Application</h2>
  </div>
  <div class="span6">
  </div>
</div>
<%= render 'form' %>
